{
    "$schema": "http://json.schemastore.org/prettierrc",
    "pluginSearchDirs": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-sh",
        "@standard-configs/prettier-plugin"
    ],
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "avoid"
}
